Source: cloc
Section: devel
Priority: optional
Maintainer: tony mancill <tmancill@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 libalgorithm-diff-perl,
 libparallel-forkmanager-perl,
 libregexp-common-perl,
 unzip
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/debian/cloc
Vcs-Git: https://salsa.debian.org/debian/cloc.git
Homepage: https://github.com/AlDanial/cloc
Rules-Requires-Root: no

Package: cloc
Architecture: all
Depends:
 libalgorithm-diff-perl,
 libparallel-forkmanager-perl,
 libregexp-common-perl,
 ${misc:Depends},
 ${perl:Depends},
Description: statistics utility to count lines of code
 Count physical lines of source code in the given files (may be
 archives such as compressed tarballs or zip files) and/or
 recursively below the given directories.
 .
 Counts blank lines, comment lines, and physical lines of source code
 in many programming languages. It is written entirely in Perl, using
 only modules from the standard distribution.
